# Python cache files
__pycache__*
**/__pycache__/**
**/*.pyc
.pytest_cache

# VScode config
.vscode*

# Secrets
GitHubAccessKey.txt
apikey.py

# Hugo output
public/
resources/
.hugo_build.lock
generated_pages/
content/
